<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  	<!-- WRAPPER -->
  	<div class="wrapper">

  <!-- PAGE CONTENT -->
  		<div class="page-content">
  			<div class="container">
  				<section>
  					<div class="row">
  						<div class="col-md-6">
                <img src="http://graph.facebook.com/808134590073/picture?type=large">
  							<p>user.email</p>
                <p>user.name</p>
  						</div>
  						<div class="col-md-6">
  							<div class="featured-video">
  								<iframe src="//player.vimeo.com/video/40056491"></iframe>
  							</div>
  						</div>
  					</div>
  					<br><hr>
  					<h1 class="section-heading">FAVORITE SHOWS</h1>
  					<p class="lead"><span class="dropcap dropcap-big">P</span>put list of favorite show pictures here that link to the show?</p>
  					<br>
  					<h2 class="section-heading">OUR VISION</h2>
  					<p class="lead"><span class="dropcap dropcap-big">D</span>istinctively predominate front-end total linkage via user. Professionally synthesize sustainable growth strategies before bricks-and-clicks functionalities. Holisticly synthesize unique intellectual capital whereas ubiquitous users.</p>
  					<hr>
  				</section>

  				<h2 class="section-heading">MEET OUR TEAM</h2>
  				<!-- TEAM -->
  				<section class="team">
  					<div class="section-content">
  						<div class="col-md-5">
  							<div class="team-member media">
  								<img src="assets/img/team/person1.png" class="media-object img-circle pull-left" alt="" />
  								<div class="media-body">
  									<h3 class="media-heading team-name">Michael Summer</h3>
  									<strong>Executive Director</strong>
  									<hr class="pull-left">
  									<div class="clearfix"></div>
  									<p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
  									<ul class="list-inline social-icon">
  										<li>
  											<a href="#"><i class="fa fa-facebook"></i></a>
  										</li>
  										<li>
  											<a href="#"><i class="fa fa-twitter"></i></a>
  										</li>
  										<li>
  											<a href="#"><i class="fa fa-linkedin"></i></a>
  										</li>
  									</ul>
  								</div>
  							</div>
  						</div>
  						<div class="col-md-5 col-md-offset-2">
  							<div class="team-member media">
  								<img src="assets/img/team/person2.png" class="media-object img-circle pull-left" alt="" />
  								<div class="media-body">
  									<h3 class="media-heading team-name">Jane Doe</h3>
  									<strong>Art Director</strong>
  									<hr class="pull-left">
  									<div class="clearfix"></div>
  									<p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
  									<ul class="list-inline social-icon">
  										<li>
  											<a href="#"><i class="fa fa-facebook"></i></a>
  										</li>
  										<li>
  											<a href="#"><i class="fa fa-twitter"></i></a>
  										</li>
  										<li>
  											<a href="#"><i class="fa fa-linkedin"></i></a>
  										</li>
  									</ul>
  								</div>
  							</div>
  						</div>
  						<div class="col-md-5">
  							<div class="team-member media">
  								<img src="assets/img/team/person3.png" class="media-object img-circle pull-left" alt="" />
  								<div class="media-body">
  									<h3 class="media-heading team-name">Cindy Marry</h3>
  									<strong>UI Designer</strong>
  									<hr class="pull-left">
  									<div class="clearfix"></div>
  									<p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
  									<ul class="list-inline social-icon">
  										<li>
  											<a href="#"><i class="fa fa-facebook"></i></a>
  										</li>
  										<li>
  											<a href="#"><i class="fa fa-twitter"></i></a>
  										</li>
  										<li>
  											<a href="#"><i class="fa fa-linkedin"></i></a>
  										</li>
  										<li>
  											<a href="#"><i class="fa fa-dribbble"></i></a>
  										</li>
  									</ul>
  								</div>
  							</div>
  						</div>
  						<div class="col-md-5 col-md-offset-2">
  							<div class="team-member media">
  								<img src="assets/img/team/person4.png" class="media-object img-circle pull-left" alt="" />
  								<div class="media-body">
  									<h3 class="media-heading team-name">Phillips Abraham</h3>
  									<strong>Front-end Developer</strong>
  									<hr class="pull-left">
  									<div class="clearfix"></div>
  									<p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
  									<ul class="list-inline social-icon">
  										<li>
  											<a href="#"><i class="fa fa-facebook"></i></a>
  										</li>
  										<li>
  											<a href="#"><i class="fa fa-twitter"></i></a>
  										</li>
  										<li>
  											<a href="#"><i class="fa fa-linkedin"></i></a>
  										</li>
  										<li>
  											<a href="#"><i class="fa fa-dribbble"></i></a>
  										</li>
  									</ul>
  								</div>
  							</div>
  						</div>
  					</div>
  				</section>
  				<!-- END TEAM -->
  			</div>
  		</div>
  		<!-- END PAGE CONTENT -->

  		<!-- FOOTER -->
  		<footer>
  				
  			<!-- COPYRIGHT -->
  			<div class="text-center copyright">
  				&copy;2015 MATT-TV. All Rights Reserved.
  			</div>
  			<!-- END COPYRIGHT -->
  		</footer>
  		<!-- END FOOTER -->
  	</div>
  	<!-- END WRAPPER -->

    </body>

</html>